/* styles.css */

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  /* Contenedor central */
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Imagen de perfil */
  .img-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .img-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Títulos */
  h1, h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  /* Información personal */
  .info-personal ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .info-personal li {
    margin-bottom: 10px;
  }
  
  .info-personal a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .info-personal a:hover {
    color: #23527c;
  }
  
  /* Educación y habilidades */
  .educacion, .habilidades {
    margin-bottom: 20px;
  }
  
  .educacion ul, .habilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .educacion li, .habilidades li {
    margin-bottom: 10px;
  }
  
  .educacion strong, .habilidades strong {
    font-weight: bold;
    color: #337ab7;
  }
  
  .educacion ul ul, .habilidades ul ul {
    margin-left: 20px;
  }